<footer class="footer">
<small>
by runup
</small>
<nav>
<ul>
<li><%= link_to "关于本站", about_path %></li>
<li><%= link_to "联系我们", contact_path %></li>
<li><%= link_to "注册", signup_path %></li>
</ul>
</nav>
</footer>